@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color:#f4f4f0;
  margin: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  
  letter-spacing: -0.05em; 
}

.head{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 900px;
  max-width: 900px;
  background-color: rgba(0, 0, 0, 0.4);
}

input {
  margin: 20px;
  width: 300px;
  height: 65px;
  background-color: #242423;
  border-radius: 5px;
  border: none;
  padding-left: 10px; 
  font-size: 20px;
  font-weight: 400;
  color: white; 
}

input::placeholder {
  color: rgb(230, 230, 230);
  font-size: 18px;
  font-weight: 400;
}

.add {
  width: 140px;
  height: 65px;
  background-color: #000000;
  box-shadow: 
    5px 5px 0px #ff0,   /* Yellow layer */
    10px 10px 0px #f00; 
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 400;
  color: white; 
  transition: transform 0.25s ease, box-shadow 0.25s ease;

}

.add:hover{
    transform: translate(-2px, -2px);
    box-shadow: 
    0px 0px 0px #ff0,   /* Yellow layer */
    0px 0px 0px #f00;   /* Red layer */
    transition: transform 0.25s ease, box-shadow 0.25s ease
}

input:active{
  border: 2px solid #FF90E8;
}

ul{
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  gap: 0px;
}

li {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-top: 3px;
  z-index: 1;
}


.todo{
  margin-top: 100px;
  padding-left: 0px;
  background-color: white;
  border: 1px solid black;
  box-shadow: -3px 3px 0px black;
  display: flex;
  height: 270px;  
  max-width: 480px;
  position: relative;
}

.char{
  margin-bottom: 100px;
  position: absolute;
  left: 100%;
  transform: translateX(-50%);
  margin-top: -131px;
  font-size: 18px;
  font-weight: 400;
  box-shadow: 0px 3px 0px black;
}


.main_head{
  font-size: 90px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: black;
  letter-spacing: -0.06em; 
  margin-top: 70px;
  @media (max-width: 600px) {
  .main_head {
    font-size: 40px;
  }
}
}

.main_par{
  line-height: 1;
  text-align: center;
  color: rgb(111, 111, 111);
  letter-spacing: 0.01em; 
  margin: 35px;
  font-size: 12px;
}


.images{
 
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
  gap: 20px; /* space between boxes */
}
